.section__footer {
    display: flex;
    margin: 108px 0px;
    justify-content: center;

    &-content {
        display: flex;
        gap: 200px;

        @include lg {
            flex-direction: column;
            gap: 76px;
        }

        &-left {
            display: flex;
            flex-direction: row;
            gap: 76px;
            font-weight: 500;

            @include lg {
                flex-direction: column;
            }

            &--list {
                display: flex;
                flex-direction: column;
                gap: 20px;

                font-size: 16px;                
                line-height: 24px;
                letter-spacing: 0.20px;
            }

            &--header {
                margin-bottom: 40px;

                font-size: 20px;
                line-height: 30px;                
                letter-spacing: 0.10px;
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            &--row {
                display: flex;
                flex-direction: row;
                align-items: center;

                &-1st {
                    padding: 0px 8px;
                }

                &-2st {
                    padding: 0px 10px;
                }
            }

            &--social-media {
                display: flex;
                gap: 24px;
                padding: 20px 0px;
            }
        }
    }
}